WindowsFormsApplication1/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51208/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Trainz" />
  <xs:element name="fetchData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="fetchDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Trainz" minOccurs="0" name="fetchDataResult" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Trainz" minOccurs="0" name="CT" nillable="true" type="q2:CompositeType" />
        <xs:element minOccurs="0" name="cityA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cityB" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stopDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkIfStartCityExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Trainz" minOccurs="0" name="CT" nillable="true" type="q3:CompositeType" />
        <xs:element minOccurs="0" name="clientData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkIfStartCityExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkIfStartCityExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkIfStopCityExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Trainz" minOccurs="0" name="CT" nillable="true" type="q4:CompositeType" />
        <xs:element minOccurs="0" name="clientData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkIfStopCityExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkIfStopCityExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>